# Data Science II Project

## Jasmina Djordjevic | Nicolas Wille

### FAO GAEZ Data Treatment and matching with Trucost

In [2]:
pip install countrygroups

Requirement already satisfied: countrygroups in /Users/nicolaswille/opt/anaconda3/lib/python3.9/site-packages (0.13.0)
Requirement already satisfied: shortcountrynames in /Users/nicolaswille/opt/anaconda3/lib/python3.9/site-packages (from countrygroups) (0.10.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from countrygroups import EUROPEAN_UNION
import numpy as np
import ntpath

Import the data from Trucost about Climate Risks

In [4]:
df_Raw = pd.read_csv("/Users/nicolaswille/Documents - Local/Data Trucost/Raw Data/EDX_Physical_AL_ExposureScore_CPU_20221003.csv")
df_Raw.head(5)

/Users/nicolaswille/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Asset ID,Asset Name,Asset ID Type,Country,Latitude,Longitude,Elevation,Facility Category,Activity Description,Owner Name,...,ExposureScore_Composite_High_2030,ExposureScore_Composite_High_2040,ExposureScore_Composite_High_2050,ExposureScore_Composite_High_2060,ExposureScore_Composite_High_2070,ExposureScore_Composite_High_2080,ExposureScore_Composite_High_2090,Owner MI Key,Ultimate Parent MI Key,Ultimate Parent Trucost UID
0,499838,Naccowlah,Australian NPRI,Australia,-27.520996,142.136231,NaN,Regulated Industrial Site,Oil and Gas Extraction,Santos Ltd.,...,58,54,56,55,57,56,64,4157467,4157467,47733.0
1,533382,"in p/ship with Vacuum Oil Co, t/a CSR Emoleum",Australian NPRI,Australia,-37.839613,145.278376,NaN,Regulated Industrial Site,Other Petroleum and Coal Product Manufacturing,CSR Ltd.,...,66,67,72,74,73,75,79,4168748,4168748,47322.0
2,594050,Worrior,Australian NPRI,Australia,-28.419000,139.812000,NaN,Regulated Industrial Site,Oil and Gas Extraction,Beach Energy Ltd.,...,74,75,73,74,73,71,75,4356908,4356908,49035.0
3,487872,West Cliff Colliery,Australian NPRI,Australia,-34.234000,150.831000,NaN,Regulated Industrial Site,Coal Mining,Endeavour Coal Pty Ltd.,...,66,64,66,70,73,74,81,4413533,4583665,209379.0
4,488630,Amcor Flexibles Regents Park,Australian NPRI,Australia,-33.881733,151.017000,NaN,Regulated Industrial Site,Printing,Orora Ltd.,...,59,59,59,61,63,65,71,4441499,4160328,42696.0

Keep only the EU countries + Switzerland and UK

In [5]:
df = df_Raw

## Create a column containig the index, this will be useful for later
ind = df.index
df["Field1"] = ind

## Create a list of european union countries and add UK and Switzerland
list_EU_Countries = EUROPEAN_UNION.names
list_EU_Countries.append("Switzerland")
list_EU_Countries.append("United Kingdom")

## Select only the countries that are in the list previously created
df = df[df['Country'].isin(list_EU_Countries)]

## Export the dataset
#df.to_csv("/Users/nicolaswille/Documents - Local/Data Trucost/Raw Data/EDX_Physical_Risk_EU.csv")

## Export a dataset containing only the index and the geographic coordinates
dfCoordinates = df[["Latitude","Longitude"]]
#dfCoordinates.to_csv("/Users/nicolaswille/Documents - Local/Data Trucost/Raw Data/EDX_Coordinates_with_Index.csv", index=True)

print(np.shape(df))
df.head(5)

(209831, 311)

,Asset ID,Asset Name,Asset ID Type,Country,Latitude,Longitude,Elevation,Facility Category,Activity Description,Owner Name,...,ExposureScore_Composite_High_2040,ExposureScore_Composite_High_2050,ExposureScore_Composite_High_2060,ExposureScore_Composite_High_2070,ExposureScore_Composite_High_2080,ExposureScore_Composite_High_2090,Owner MI Key,Ultimate Parent MI Key,Ultimate Parent Trucost UID,Field1
49,32908,"BP EXPLORATION OPERATING CO LTD, BP CATS TERMINAL",EU NPRI,United Kingdom,54.610825,-1.194100,NaN,Regulated Industrial Site,Manufacture of refined petroleum products,BP p.l.c.,...,69,73,81,83,86,90,4000762,4000762,44427.0,49
50,120186,Piattaforma PCC,EU NPRI,Italy,44.390703,12.560413,NaN,Regulated Industrial Site,Extraction of natural gas,Eni S.p.A.,...,49,52,57,56,67,72,4010592,4010592,43396.0,50
51,39822,Alcoa-Köfém Székesfehérvári Könny?fémm? Kft.,EU NPRI,Hungary,47.189803,18.467243,NaN,Regulated Industrial Site,Aluminium production,Alcoa Inc.,...,69,74,80,82,86,89,4058391,4058391,238943.0,51
52,75586,E.On Energiatermel? Kft. - H? és villamos ener...,EU NPRI,Hungary,47.956706,21.698886,NaN,Regulated Industrial Site,Steam and air conditioning supply,E.ON SE,...,53,58,62,67,70,74,4090501,4090501,44534.0,52
53,17705,BARRY CALLEBAUT,EU NPRI,France,49.220000,1.150000,NaN,Regulated Industrial Site,"Manufacture of cocoa, chocolate and sugar conf...",Barry Callebaut AG,...,77,86,89,90,93,93,4099870,4099870,54698.0,53

Create a function that: 
1) Takes as input (i) the initial EDX dataset, and (ii) the path of the csv dataset containing the raster informations. 
2) First transforms the csv file by keeping only the id and the value (here the mean)
3) Then, renames the mean with the name of the csv
4) Merge it with our initial dataset df using the index "Field1"

In [6]:
def path_leaf(path):
    head, tail = ntpath.split(path)
    return tail or ntpath.basename(head)

def MyFunction(path, df):
    df_Raster = pd.read_csv(path, sep=";")
    name_path = path_leaf(path).split('.csv')[0]
    df_Mean = df_Raster[["Field1","MEAN"]]
    df_Mean_Renamed = df_Mean.rename({"MEAN":name_path}, axis = 1)
    df = pd.merge(df, df_Mean_Renamed, on='Field1', how='outer')
    return df

In [7]:
paths = [
    "/Users/nicolaswille/Documents/SMT Master/3rd Semester/Data Science II/Project/Tables/aez_v9v2_CRUTS32_Hist_8110_100_avg.csv",
    "/Users/nicolaswille/Documents/SMT Master/3rd Semester/Data Science II/Project/Tables/lgd_ENSEMBLE_rcp4p5_2050s.csv",
    "/Users/nicolaswille/Documents/SMT Master/3rd Semester/Data Science II/Project/Tables/aez_v9v2_ENSEMBLE_rcp4p5_2050s.csv",
    "/Users/nicolaswille/Documents/SMT Master/3rd Semester/Data Science II/Project/Tables/tmpCRUTS32_0010.csv",
    "/Users/nicolaswille/Documents/SMT Master/3rd Semester/Data Science II/Project/Tables/tmp_ENSEMBLE_rcp4p5_2050s.csv",
    "/Users/nicolaswille/Documents/SMT Master/3rd Semester/Data Science II/Project/Tables/lgd_CRUTS32_Hist_0010.csv",
    "/Users/nicolaswille/Documents/SMT Master/3rd Semester/Data Science II/Project/Tables/all_2010_prod.csv"
    ]

for path in paths:
    df = MyFunction(path, df)
    
df

,Asset ID,Asset Name,Asset ID Type,Country,Latitude,Longitude,Elevation,Facility Category,Activity Description,Owner Name,...,Ultimate Parent MI Key,Ultimate Parent Trucost UID,Field1,aez_v9v2_CRUTS32_Hist_8110_100_avg,lgd_ENSEMBLE_rcp4p5_2050s,aez_v9v2_ENSEMBLE_rcp4p5_2050s,tmpCRUTS32_0010,tmp_ENSEMBLE_rcp4p5_2050s,lgd_CRUTS32_Hist_0010,all_2010_prod
0,32908,"BP EXPLORATION OPERATING CO LTD, BP CATS TERMINAL",EU NPRI,United Kingdom,54.610825,-1.194100,NaN,Regulated Industrial Site,Manufacture of refined petroleum products,BP p.l.c.,...,4000762,44427.0,49,"41,000000000000000","358,000000000000000","41,000000000000000","10,170000076293945","11,395999908447266","292,000000000000000","847,304565429687500"
1,120186,Piattaforma PCC,EU NPRI,Italy,44.390703,12.560413,NaN,Regulated Industrial Site,Extraction of natural gas,Eni S.p.A.,...,4010592,43396.0,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,39822,Alcoa-Köfém Székesfehérvári Könny?fémm? Kft.,EU NPRI,Hungary,47.189803,18.467243,NaN,Regulated Industrial Site,Aluminium production,Alcoa Inc.,...,4058391,238943.0,51,"56,000000000000000","208,000000000000000","56,000000000000000","11,340000152587891","13,453999519348145","223,000000000000000","2032,310302734375000"
3,75586,E.On Energiatermel? Kft. - H? és villamos ener...,EU NPRI,Hungary,47.956706,21.698886,NaN,Regulated Industrial Site,Steam and air conditioning supply,E.ON SE,...,4090501,44534.0,52,"56,000000000000000","209,000000000000000","56,000000000000000","10,760000228881836","12,920000076293945","221,000000000000000","1348,866943359375000"
4,17705,BARRY CALLEBAUT,EU NPRI,France,49.220000,1.150000,NaN,Regulated Industrial Site,"Manufacture of cocoa, chocolate and sugar conf...",Barry Callebaut AG,...,4099870,54698.0,53,"42,000000000000000","314,000000000000000","42,000000000000000","11,359999656677246","12,995999336242676","290,000000000000000","2157,538330078125000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209826,5652446,Lakeland Marine Farm Ltd,UK NPRI,United Kingdom,55.612830,-5.468490,NaN,Regulated Industrial Site,Marine aquaculture,Meridian Salmon Farms (Argyll),...,4914980,51509.0,2217443,NaN,"365,000000000000000",NaN,"9,519999504089355","10,651999473571777","298,000000000000000",NaN
209827,5242163,"Kier Services Limited, Tondu Waste Transfer St...",UK NPRI,United Kingdom,51.550240,-3.595530,NaN,Regulated Industrial Site,Treatment and disposal of non-hazardous waste,Kier Services Ltd.,...,4989949,43081.0,2217444,"42,000000000000000","365,000000000000000","42,000000000000000","10,449999809265137","11,939999580383301","297,000000000000000","445,471618652343750"
209828,5113568,Ashford STW,UK NPRI,United Kingdom,51.152838,0.887320,NaN,Regulated Industrial Site,Sewerage,Southern Water Services Ltd.,...,7507187,NaN,2217445,"41,000000000000000","313,000000000000000","41,000000000000000","11,010000228881836","12,547999382019043","287,000000000000000","2890,059326171875000"
209829,5113576,Fullerton Wastewater Treatment Works,UK NPRI,United Kingdom,51.171556,-1.473577,NaN,Regulated Industrial Site,Treatment and disposal of non-hazardous waste,Southern Water Services Ltd.,...,7507187,NaN,2217446,"41,000000000000000","323,000000000000000","41,000000000000000","10,420000076293945","11,903999328613281","279,000000000000000","3379,221923828125000"
209830,5243495,"Sims Group U K Ltd, Neath Abbey Wharf",UK NPRI,United Kingdom,51.649110,-3.839530,NaN,Regulated Industrial Site,Treatment and disposal of non-hazardous waste,Sims Group UK,...,4239437,48835.0,2217447,"42,000000000000000","364,000000000000000","42,000000000000000","10,630000114440918","12,123999595642090","365,000000000000000",NaN

In [8]:
#df.to_csv("/Users/nicolaswille/Documents/SMT Master/3rd Semester/Data Science II/Project/Dataset_Inter_151122.csv")

Create a random sample of 1000 observations

In [9]:
df_random = df.sample(1000, random_state = 1)

Keep only the variable we are interested in

In [10]:
df_random = df_random.iloc[:, [0,1,3,4,5,311,312,313,314,315,316,317]]

Replace the data type to floating number

In [11]:
cols = ['aez_v9v2_CRUTS32_Hist_8110_100_avg', 'lgd_ENSEMBLE_rcp4p5_2050s', 'aez_v9v2_ENSEMBLE_rcp4p5_2050s',
        'tmpCRUTS32_0010', 'tmp_ENSEMBLE_rcp4p5_2050s', 'lgd_CRUTS32_Hist_0010', 'all_2010_prod']
for c in cols:
        df_random[c] = df_random[c].str.replace(',','.').astype(float)

print(len(df_random))
df_random.head()

1000

,Asset ID,Asset Name,Country,Latitude,Longitude,aez_v9v2_CRUTS32_Hist_8110_100_avg,lgd_ENSEMBLE_rcp4p5_2050s,aez_v9v2_ENSEMBLE_rcp4p5_2050s,tmpCRUTS32_0010,tmp_ENSEMBLE_rcp4p5_2050s,lgd_CRUTS32_Hist_0010,all_2010_prod
6092,10152939,Pflegeheim Seniorenwohnanlage Niebüll-Gath,Germany,54.792900,8.839120,56.0,283.0,56.0,9.270000,11.046000,243.0,4432.460938
61522,69248,Global Branch Key 69248,Poland,51.271810,16.364380,39.0,245.0,39.0,9.940000,12.122000,237.0,1930.357178
142146,126372,Blackbushe House,United Kingdom,51.325900,-0.831085,40.0,320.0,42.0,10.380000,11.907999,277.0,419.515472
199140,51183086,"Retail - United Kingdom (50.696733 , -1.3195496)",United Kingdom,50.696733,-1.319550,41.0,312.0,41.0,11.059999,12.544000,357.0,2435.369141
49414,152916,Global Branch Key 152916,Portugal,41.098730,-8.629112,56.0,273.0,56.0,15.589999,16.941999,277.0,339.847015

In [12]:
df_random.dtypes

Asset ID                                int64
Asset Name                             object
Country                                object
Latitude                              float64
Longitude                             float64
aez_v9v2_CRUTS32_Hist_8110_100_avg    float64
lgd_ENSEMBLE_rcp4p5_2050s             float64
aez_v9v2_ENSEMBLE_rcp4p5_2050s        float64
tmpCRUTS32_0010                       float64
tmp_ENSEMBLE_rcp4p5_2050s             float64
lgd_CRUTS32_Hist_0010                 float64
all_2010_prod                         float64
dtype: object

Export the dataset

In [13]:
#df_random.to_csv("/Users/nicolaswille/Documents/SMT Master/3rd Semester/Data Science II/Project/Dataset_Inter_random_221122.csv")